/*!
Theme Name: So Yummy 2019
Theme URI: http://underscores.me/
Author: First Media
Author URI: http://firstmedia.com/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: bestsubscriptions
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

bestsubscriptions is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */


@font-face {
	font-family: 'Avenir LT Std 45 Book';
	font-style: normal;
	font-weight: normal;
	src: local('Avenir LT Std 45 Book'), url('assets/fonts/AvenirLTStd-Book.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'Avenir LT Std 85 Heavy';
	font-style: normal;
	font-weight: normal;
	src: local('Avenir LT Std 85 Heavy'), url('assets/fonts/AvenirLTStd-Heavy.woff') format('woff');
	font-display: swap;
}

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */
*{
	outline:0 !important;
}
body {
	margin: 0;
	overflow-x: hidden;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
	font-size: 46px;
	text-align: center;
	margin: 0.67em 0;
	margin-top:0;
}
h2 span{
	position: relative;
	z-index: 1;
}
h2 span:after{
	content: '';
    border-bottom: 4px solid #FFBEC1;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 4px;
    z-index: -1;
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
	border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */

legend {
	box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
	display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-size: 16px;
    font-family: "Lato";
    font-weight: 300;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	border-left: 10px solid #FDBE39;
    margin-left: 20px;
    
}
.single .entry-content blockquote p{
    background: #FEF1D5;
    border-radius: 10px;
    padding: 20px 40px;
    margin: 40px 0 40px 30px;
    font: 15px 'Avenir LT Std 85 Heavy', arial;
    line-height: 1.6;
    opacity: .8;
    letter-spacing: .3px;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	color: #343336;
	font-size: 16px;
    font-family: "Avenir LT Std 45 Book";
    font-weight: 400;
    line-height: 1.5;
}
h1{
	font-family: 'Museo', arial;
	font-weight: 500;
}
h2{
	font-size: 24px;
	margin:0;
	font-family: 'Museo', arial;
	font-weight: 500;
}
h3{
	font-family: 'Museo', arial;
	font-weight: 500;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0 0 1.5em 0em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
	
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 12px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}
input[type="button"]{
	border:0;
} 
.btn{
	background:#2C80EE;
	border:0;
	padding:15px 30px;
	min-width: 200px;
	text-align: center;
	font-family: 'Avenir LT Std 85 Heavy', arial;
	color:#fff;
	font-weight: 700;
	letter-spacing: 1px;
	font-size: 16px;
	text-transform: uppercase;
	transition:all .2s;
}
input[type="button"]:hover, 
.btn:hover{
	background:#EE2C82;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: #343336;
	transition: all .2s;
}

a:hover, a:focus, a:active {
	color: #FE9EA8;
}

a:focus {
	outline: none !important;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation{
	width: 100%;
}
.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.main-navigation ul li{
	display: inline-block;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
	border-radius: 10px;
	margin-top:-5px;
}
.main-navigation ul ul:before{
	content: '';
    width: 20px;
    height: 16px;
    background: url(/wp-content/themes/blossom/assets/icons/triangle-white.svg) no-repeat 50% 50%;
    background-size: 120%;
    position: absolute;
    left: 20px;
    top: -12px;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
    left: auto;
    padding: 0px;
    background: #fff;
}
header .main-nav ul li ul li{
	display: block;
}
.main-navigation a {
	display: block;
	text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}


/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/

embed,
iframe,
object {
	max-width: 100%;
}
header{
	width: 100%;
	position: fixed;
	top:0;
	left:0;
	background:#fff;
	box-shadow: 0px 0px 5px rgba(0,0,0,.1);
	z-index: 2;
}
header .content{
	display: flex;
    max-width: 1100px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
header .top-nav{
	width: 100%;
}
header .top-nav .container{
	display: flex;
    justify-content: space-between;
    max-width: 1120px;
    align-items: center;
    margin: 0 auto;
}
header .top-nav ul{
	margin-left:10px;
	border-left:1px solid #fff;
	padding-left:10px;
}
header .top-nav a{
	font-family: 'Avenir LT Std 85 Heavy', arial;
	text-decoration: none;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: .5px;
	padding:10px 0;
}
header .top-nav .logo{
	width: 180px;
}
header .top-nav a:hover{
	cursor: pointer;
}
header .newsletter-search{
	display: flex;
	align-items: center;
}
header .newsletter-search button{
	border: 0;
    background: transparent;
    margin-left:10px;
}

header .top-nav .search-form{
	display: none;
}
header .main-nav{
	background: #C66382;
    width: 100%;
    position: relative;
}
header .main-nav .container{
    justify-content: space-between;
    display: flex;
    align-items: center;
}
header .main-nav .logo{
	display: block;
}
header .main-nav #primary-menu li:first-of-type a{
	margin-left:0;
}
header .main-nav ul li a{
	margin:0 10px;
	padding:7px 0;
	color:#fff;
	font:15px 'Avenir LT Std 85 Heavy', arial;
}
header #primary-menu li a{
	line-height: 35px;
}
header .main-nav .socials li a{
	margin:0;
}
header .main-nav .socials li img{
	width: 40px;
}
header .main-nav ul li ul li a{
	padding:7px 0;
	display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    color:#343336;
    margin-left:10px !important;
    font-size: 14px;
    position: relative;
    border-bottom: 1px dashed #C66382;
}
header .main-nav ul li ul li:last-of-type a{
	border-bottom: 0;
}
header .main-nav ul li ul li:hover a:after{
	content:'';
	width: 9px;
	height: 14.5px;
	background: url(/wp-content/themes/blossom/assets/icons/icon-rt-arrow.svg) no-repeat 50% 50%;
	background-size: 75%;
	position: absolute;
	right: 0;
}
header .main-nav ul li ul li a img{
	width: 30px;
	margin-right: 10px;
}
header .main-nav .btn--search{
	position: absolute;
	right:0;
}
header .main-navigation{
	display: inline-block
}

.socials{
	margin: 0;
    padding: 0;
    list-style-type: none;
}
.socials li{
	display: inline-block;
}
.socials li a{
	margin:0 10px;
}
.socials li:last-of-type a{
	margin-right:0;
}

.site-content{
	margin-top:123px;
	background:#fff;
	padding:20px 0 0px 0;
}
.content-area{
	margin: 0 auto;
}
.home .triple-hero{
	margin-bottom: 20px;
}
.triple-hero{
	display: flex;
	justify-content: space-between;
	padding: 40px 0;
    border-radius: 10px;
    background:#fff;
    max-width: 1120px;
    margin: 0 auto;
}
.triple-hero article{
	max-width: 700px;
	width: 700px;
	padding:30px;
	border:1px dashed #C66382;
	margin-right: 30px;
	background: #fff;
	position: relative;
}
.triple-hero article a{
	text-decoration: none;
}
.triple-hero article h2{
	font-size: 35px;
	margin:0px 0 10px 0;
}
.triple-hero article p{
	font-size: 18px;
}
.triple-hero article .cat{
	margin-top:30px;
	margin-bottom: 10px;
}
.triple-hero article .featured-image{
	display: block;
}
.triple-hero article .featured-image img{
	display: block;
	width: 100%;
}
.triple-hero > article .copy{
	position: relative;
}
.triple-hero > article .label-featured{
	position: absolute;
    left: -20px;
    top: -70px;
}
.triple-hero .small-hero{
	max-width: 390px;
}
.triple-hero .small-hero .copy{
    position: relative;
    text-align: center;
    margin-top:-30px;
}
.triple-hero .small-hero article .cat{
	margin-bottom: 10px;
	margin-top:0;
}
.triple-hero .small-hero article .cat a{
	margin-left: 0;
	justify-content: center;
	flex-wrap: wrap;
}
.triple-hero .small-hero article .cat h4{
	width: 100%;
}
.triple-hero .small-hero article{
	width: 100%;
	position: relative;
	margin-bottom: 30px;
}
.triple-hero .small-hero article:last-of-type{
	margin-bottom: 0;
}

.triple-hero .small-hero article .featured-image{
    display: block;
}
.triple-hero .small-hero article h2{
	font-size: 17px;
	margin-top:0px;
}
.triple-hero .small-hero article .link{
	display: none;
}
.triple-hero .small-hero article .label-featured{
	position: absolute;
	left: 125px;
    top: 175px;
}
.happy{
	position: fixed;
    left: 3%;
    transform: rotate(-5deg);
    bottom: 30%;
    width: 70px;
}
.wink{
	position: fixed;
    right: 9%;
    transform: rotate(5deg);
    top: 70%;
    width: 70px;
}
.splatter-orange{
	position: fixed;
	left:0;
	top:10%;
	width: 200px;
}
.splatter-blue{
	position: fixed;
	right:0;
	bottom:-15%;
	width: 200px;
}
.scissors{
	position: fixed;
	right:0;
	top:10%;
	width: 200px;
}
.link{
	margin-top:10px;
	display: block;
	font-family: 'Avenir LT Std 85 Heavy', arial;
	font-weight: 700;
}
.link img{
	position: relative;
    top: 3px;
    margin-left:5px;
}
.bg-zigzag{
	background: #EFF2F7 url(/wp-content/themes/blossom/assets/bg-zigzag.svg) repeat 50% 50%;
	background-size: 3%;
    padding: 40px 0;
}
.content .container{
	padding:40px;
	border-radius: 10px;
	margin-bottom: 40px;
	background:#fff;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}
.container{
	max-width: 1120px;
	margin:0 auto;
}
.cats{
	width: 100%;
	margin-bottom: 40px;
}
.cats ul{
	margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cats ul li{
	display: inline-block;
	margin:0 10px;
}
.cats ul li a{
	text-decoration: none;
	font-family: 'Avenir LT Std 85 Heavy', arial;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    font-weight: 700;
}
.cats ul li img{
    width: 80px;
    margin-bottom: 10px;
}
.articles{
	max-width: 700px;
	display: flex;
	flex-wrap: wrap;
	align-content: baseline;
}
.articles article{
	display: flex;
    align-items: center;
    margin-bottom: 30px;
}
article .cat{
	margin-bottom: 20px;
}
article .cat a{
	display: flex;
    justify-content: left;
    align-items: center;
    margin-left: -55px;
}
article .cat img{
	width: 50px;
    display: block;
    margin-right: 10px;
}
article .cat h4{
	margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    clear: none;
    font: 14px 'Avenir LT Std 85 Heavy', arial;
}
article .cat .entertainment, article .cat .arts-and-culture, .menu-item-19549 a{
	color:#5A6AA5;
}
article .cat .diy, .menu-item-19548 a{
	color:#67A1AC;
}
article .cat .lifestyle, article .cat .health-and-wellness, article .cat .decor, .menu-item-19550 a{
	color:#C66382;
}
article .cat .so-yummy, .menu-item-19554 a{
	color:#AA7154;
}
article .cat .fashion, .menu-item-19553 a{
	color:#FCB620;
}
article .cat .parenting, .menu-item-19552 a{
	color:#E07A19;
}
article .cat .blusher, .menu-item-19551 a{
	color:#73566E;
}
.play{
	position: absolute;
    z-index: 1;
    width: 60px !important;
    left: 50%;
    top: 50%;
    margin-left: -30px;
    margin-top: -30px;
}
.articles article .featured-image{
	width: 360px;
    height: 100%;
}
.articles article .featured-image img{
	display: block;
	width: 360px;
}
.articles article .copy{
	max-width: 410px;
	padding-left:20px;
	padding:20px 30px;
	width: 100%;
}
.articles article h2{
	font-size: 20px;
}
.articles article a{
	text-decoration: none;
	position: relative;
}
.articles article p{
	margin-bottom: 0;
}
.view-more{
	width: 100%;
    text-align: center;
    max-width: 740px;
}
.view-more .btn{
	background:#C66382;
	font-family: 'Avenir LT Std 85 Heavy', arial;
	color:#fff;
	font-weight: 700;
	text-align: center;
	width: 250px;
	display: inline-block;
	text-transform: none;
	border-radius: 50px;
	letter-spacing: .5;
}
aside{
	max-width: 300px;
	position: sticky;
	top:120px;
	align-self: flex-start;
}
aside h2{
	margin-bottom: 20px;
}
aside [type="submit"]{
	display: none;
}
aside form input{
	width: 100%;
	position: relative;
	padding-left:40px !important;
}
aside form{
	margin-bottom: 30px;
}
aside .search-bar{
	position: relative;
}
aside .search-bar img{
	position: absolute;
    top: 15px;
    left: 10px;
    z-index: 1;
}
aside article{
	display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
aside .popular-posts{
	margin:50px 0;
}
aside article .featured-image img{
	height: 70px;
	display: block;
	width: 80px;
	min-width: 80px;
    margin-right:10px;
}
aside article h3{
	font-size: 15px;
	margin:0;
}
aside article a{
	text-decoration: none;
}

/* Footer */
 footer {
	 background: #09122E;
	 padding: 20px 0;
}
 footer .container {
	 display: flex;
	 width: 90%;
	 max-width: 1400px;
	 justify-content: space-between;
	 margin: 0 auto;
	 flex-wrap: wrap;
}
footer ul{
	margin:0;
	padding:0;
	list-style-type: none;
}
 footer .container .links {
	 display: flex;
	 width: 100%;
	 justify-content: space-between;
	 align-items: center;
}
 footer .container .links .socials {
	 width: 20%;
	  text-align: left;
}
 footer .container .links .socials ul {
	 display: flex;
	 justify-content: space-between;
	 margin: 0;
	 max-width: 210px;
}
 footer .container .links .socials ul img{
	 width: 40px;
 }
 footer .container .links .socials .logo-footer {
	 max-width: 180px;
	 margin-bottom: 20px;
}
 footer .container .links .socials a {
	 color: #fff;
}
 footer .container .links .socials a:last-of-type {
	 letter-spacing: 0.5px;
	 font-family: 'Avenir LT Std 85 Heavy', arial;
}

 footer .container .links .socials a:hover {
	 cursor: pointer;
}
.socials li{
	margin:0 4px;
}
footer .socials li:last-of-type a{
	margin-right: 4px;
}
footer .socials li a{
	margin:0;
}
footer #menu-footer img{
	display: none;
}
 footer .container .links .menu-footer-container, footer .container .links .menu-main-menu-navigation-container {
	 width: 40%;
	 margin-left: 10%;
}
footer .menu a{
	color:#fff;
	text-decoration: none;
	font-size: 14px;
}
 footer .container .links .menu-footer-container #menu-footer, 
 footer .container .links .menu-main-menu-navigation-container #menu-footer, 
 footer .container .links .menu-footer-container #menu-main-menu-navigation-1, 
 footer .container .links .menu-main-menu-navigation-container #menu-main-menu-navigation-1 {
	 display: flex;
	 justify-content: space-between;
	 text-align: left;
}
 footer .container .links .menu-footer-container .menu-item-has-children, footer .container .links .menu-main-menu-navigation-container .menu-item-has-children, footer .container .links .menu-footer-container .shop_link, footer .container .links .menu-main-menu-navigation-container .shop_link {
	 display: inline;
}
 footer .container .links .menu-footer-container .menu-item-has-children > a, footer .container .links .menu-main-menu-navigation-container .menu-item-has-children > a, footer .container .links .menu-footer-container .shop_link > a, footer .container .links .menu-main-menu-navigation-container .shop_link > a {
	 text-transform: uppercase;
	 font-weight: 700 !important;
	 margin-bottom: 10px;
	 font-size: 16px;
}
 footer .container .links .menu-footer-container .menu-item-has-children a, footer .container .links .menu-main-menu-navigation-container .menu-item-has-children a, footer .container .links .menu-footer-container .shop_link a, footer .container .links .menu-main-menu-navigation-container .shop_link a {
	 color: #fff;
	 display: inline-block;
	 margin-bottom: 5px;
	 font-size: 14px;
	 font-weight: 300;
	 text-decoration: none;
}
 footer .container .links .menu-footer-container .menu-item-has-children a:hover, footer .container .links .menu-main-menu-navigation-container .menu-item-has-children a:hover, footer .container .links .menu-footer-container .shop_link a:hover, footer .container .links .menu-main-menu-navigation-container .shop_link a:hover {
	 text-decoration: underline;
}
 footer .copyright {
	 width: 100%;
	 border-top: 1px solid #fff;
	 margin-top: 20px;
	 padding: 20px 0 0 0;
	 text-align: left;
	 display: flex;
	 justify-content: space-between;
}
 footer .copyright ul li {
	 display: inline-block;
	 margin-right: 5px;
}
 footer .copyright ul li a {
	 color: #fff;
	 font-size: 12px;
	 text-decoration: underline;
}
 footer .copyright p {
	 font-size: 12px;
	 color: #fff;
	 margin: 0;
}
 
.page-load-status{
	display: none;
	margin-bottom: 20px;
}
.loader-ellips {
  font-size: 20px; /* change size here */
  position: relative;
  width: 4em;
  height: 1em;
  margin: 10px auto;
}

.loader-ellips__dot {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  background: #C66382; /* change color here */
  position: absolute;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.loader-ellips__dot:nth-child(1),
.loader-ellips__dot:nth-child(2) {
  left: 0;
}
.loader-ellips__dot:nth-child(3) { left: 1.5em; }
.loader-ellips__dot:nth-child(4) { left: 3em; }

@keyframes reveal {
  from { transform: scale(0.001); }
  to { transform: scale(1); }
}

@keyframes slide {
  to { transform: translateX(1.5em) }
}

.loader-ellips__dot:nth-child(1) {
  animation-name: reveal;
}

.loader-ellips__dot:nth-child(2),
.loader-ellips__dot:nth-child(3) {
  animation-name: slide;
}

.loader-ellips__dot:nth-child(4) {
  animation-name: reveal;
  animation-direction: reverse;
}
.view-more.mobile{
	display: none;
}

/* Category */
.category .content{
    max-width: 1120px;
    margin: 0 auto;
    border-radius: 10px;
    padding:40px 0;
    margin-bottom: 60px;
}
.category .content .container{
	padding:0;
	margin:0;
}
.category .articles img{
	display: block;
	width: 360px;
}
.category h1{
	text-align: left;
    border-bottom: 1px dashed #C66382;
    padding-bottom: 20px;
}
.category .triple-hero{
	background:transparent;
	max-width: 100%;
	padding:0;
	border-bottom: 1px dashed #C66382;
	margin-bottom: 30px;
	border-radius: 0;
	padding-bottom: 30px;
}
.category .triple-hero:last-of-type{
	border-bottom: 0;
}
.category .headline{
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.category .headline a{
	display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 30px;
}
.category .headline a span{
	margin-left:5px;
}
.category .headline img{
	width: 60px;
	margin-right: 10px;
}
.coral{
	color:#C66382;
}

/* Single */
.single .container > article{
	max-width: 740px;
    position: relative;
    position: flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: baseline;
}
.single .container > article picture{
	margin-top:30px;
	width: 100%;
}
.single article .size-single-thumbnail{
	width: 100%;
}
.single .content .container{
	margin-bottom: 40px;
	padding:0;
}
.single .more-to-love .container{
	padding:40px;
}
.single article picture{
	display: block;
	max-height: 422px;
	overflow: hidden;
}
.single h1{
	font-size: 30px;
}
.single .date{
	margin-bottom: 20px;
    opacity: .6;
}
.single .date span{
	margin-right:20px;
	display: inline-block;
	color:#12A9B0;
}
.single .entry-meta{
	font:14px 'Avenir LT Std 85 Heavy', arial;
	text-align: center;
	width: 100%;
}
.single .entry-meta img{
    width: 35px;
    height: 35px;
    border-radius: 35px;
    margin-right: 10px;
}
.single .post-categories{
	margin:0;
	padding:0;
	list-style-type: none;
	text-align: center;
	margin-bottom: 10px;
	width: 100%;
}
.single .post-categories ul{
	margin:0;
	padding:0;
}
.single .post-categories li{
	display: inline-block;
	position: relative;
	z-index: 1;
}
.single .post-categories a{
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin-right: 5px;
	font: 12px 'Avenir LT Std 85 Heavy', Lato, Arial;
	text-transform: uppercase;
	position: relative;
}
.single .post-categories a:after{
	content: '';
    border-bottom: 4px solid #FFBEC1;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 2px;
    z-index: -1;
}
.single .post-categories li:last-of-type a{
	margin-right: 0;
}
.single .videoPlayer{
	width: 592px;
}
.single .videoPlayer iframe{
	max-width: 100% !important;
	margin:0 !important;
}
.single .social-share{
	width: 50px;
    top: 120px;
    position: sticky;
    margin: 30px 40px;
    text-align: center;
    float: left;
}
.single .social-share h3{
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	position: relative;
	z-index: 1;
}
.single .social-share h3:after{
	content: '';
    border-bottom: 4px solid #FFBEC1;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 4px;
    z-index: -1;
}
.single .social-share a{
	margin-bottom: 4px;
    display: block;
}
.single .entry-content{
	width: 80%;
    margin: 20px auto 0 auto;
    display: inline-block;
}
.single .entry-content p{
	font-size: 18px;
	line-height: 1.8;
}
.single .entry-content a{
	color:#C66382;
	font-family: 'Avenir LT Std 85 Heavy', arial;
}
.single .entry-content .btn{
	border-radius: 3px;
	background:#C66382;
	color:#fff;
	text-decoration: none;
	text-transform: none;
}
.single .entry-content a:hover{
	opacity: .6;
}
.single .entry-content h2{
	font:28px 'Avenir LT Std 85 Heavy', arial;
	font-weight: 700;
	line-height: 1.4;
}
.single .entry-content h3{
	font:24px 'Avenir LT Std 85 Heavy', arial;
	font-weight: 700;
	line-height: 1.4;
}
.single .wp-block-embed-youtube iframe{
	max-width: 100% !important;
}
.single .newsletter-signup{
	background: #EFF2F7 url(/wp-content/themes/blossom/assets/newsletter-bg-love.jpg) no-repeat 100% 50%;
    background-size: 100%;
    padding: 60px 30px;
    width: 100%;
    margin:40px 0;
}
.newsletter-signup h2{
	font:16px 'Avenir LT Std 85 Heavy', arial;
}
.newsletter-signup h2 div{
	font-size:22px;
	font-weight: 700;
	color:#C66382;
	margin-top:5px;
}
.newsletter-signup .copy{
	width: 50%;
	max-width: 300px;
	text-align: center;
	margin-bottom: 20px;
}
.newsletter-signup form{
	width: 70%;
	max-width: 400px;
	display: flex;
}
#mc_embed_signup_scroll{
	display: flex;
	justify-content: center;
	width: 100%;
	flex-wrap: wrap;
}
.newsletter-signup form input{
	width: 100%;
}
.newsletter-signup form input[type="email"]{
	width: 65%;
	border:0;
	border-radius: 3px;
}
.newsletter-signup form input[type="submit"]{
	width: 30%;
	min-width: auto;
	border-radius: 60px;
	color:#fff;
	background:#C66382;
	border:0;
}
 /* More to Love */
.single .more-to-love{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.single .more-to-love h2{
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
}
.single .more-to-love h3{
	text-align: center;
	width: 100%;
}
.single .more-to-love article {
	width: 32%;
	margin-bottom: 30px;
}
.single .more-to-love article a{
	text-decoration: none;
}
.single .more-to-love article picture{
	max-height: 202px;
	height: 202px;
	display: flex;
	overflow: hidden;
}
.single-recipe .more-to-love .copy{
	width: 100%;
}
.single .more-to-love article img{
	width: 100%;
}
.single .view-more .btn,
.single .view-more,
.single .next{
	position: absolute;
	bottom: 0;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	margin-top:0px;
	margin-bottom: 20px;
	width: 100%;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Videos Post Type */
.post-type-archive-videos .articles{
	align-items: baseline;
}
.post-type-archive-videos .articles article{
    width: 49%;
    flex-wrap: wrap;
    align-content: baseline;
    min-height: auto;
    height: auto;
}
.post-type-archive-videos article img{
	display: block;
    width: 100%;
}
.post-type-archive-videos .articles article a{
	width: 100%;
}
.post-type-archive-videos article .play-btn,
article .play-btn{
	position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    margin-left: -25px;
    margin-top: -25px;
    width: 50px !important;
    height: 50px;
}
.post-type-archive-videos aside .popular-posts{
	display: none;
}
.post-type-archive-videos .tall-ad{
	display:none;
}

.archive h1,
.single-recipe h1,
.page h1,
.search h1,
.error404 h1{
	text-align: left;
    border-bottom: 1px dashed #C66382;
    padding-bottom: 20px;
    width: 100%;
}
.single-recipe .recipe-video{
	width: 58%;
}
.single-recipe .main-recipe article .copy{
	width: 42%;
    box-shadow: 0px 2px 10px rgba(0,0,0,.1);
    padding: 0 30px;
    border-radius: 0 10px 10px 0;
}
.single-recipe .main-recipe aside article .copy{
	width:auto;
	box-shadow: none;
	padding:0;
}
.single-recipe .in-this-video{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top:30px;
}
.single-recipe .in-this-video h2{
	width: 100%;
	margin-bottom: 10px;
}
.single-recipe .in-this-video article{
	width: 23%;
}
.single-recipe .in-this-video article a{
	text-decoration: none;
}
.single-recipe .in-this-video article h3{
	font-size: 15px;
}
.single-recipe .in-this-video article picture{
	margin-top:0;
}
.single-recipe .content{
	width: 100%;
}
.single-recipe .post-categories ul{
	margin:0;
	padding:0;
}
.single-recipe .copy{
	margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.single-recipe .copy ul{
	margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.single-recipe .copy ul li{
	width: 48%;
	display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 10px 0;
}
.single-recipe .copy ul li:nth-child(3),
.single-recipe .copy ul li:nth-child(4){
	padding-bottom: 10px;
}

.single-recipe .copy ul li img{
	margin-right: 10px;
}
.single-recipe .copy ul li .label{
	text-align: center;
	font-size: 13px;
}
.single-recipe .copy ul li span{
	display: block;
	text-align: center;
	font-weight: 700;
	font-family: 'Avenir LT Std 85 Heavy', arial;
    font-weight: 700;
}
.single-recipe .copy .details p{
	margin:0;
}
.single-recipe .social-share{
	width: 100%;
    position: relative;
    float: none;
    margin: 0;
    display: flex;
    top: auto;
    justify-content: space-between;
    align-items: center;
}
.single-recipe .social-share a{
	display: inline-block;
}
.single-recipe .more-to-love article{
	width: 23%;
}
.single-recipe .more-to-love article picture{
	max-height: 257px;
	height: 257px;
	margin-top:0;
}
.single-recipe .steps-ingredients{
	display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-wrap: wrap;
}
.single-recipe .steps-ingredients h2{
	margin-bottom: 10px;
	font-size: 20px;
	border-bottom: 1px dashed #C66382;
}
.single-recipe .steps-ingredients ul{
	margin:0;
	padding:0;
	list-style-type: none;
}
.single-recipe .steps-ingredients .directions ul{
	list-style-type: none;
	counter-reset: li;
}
.single-recipe .steps-ingredients .directions ul li{
	counter-increment: li;
}
.single-recipe .steps-ingredients .directions ul li:before {
	content: counter(li); 
	font-weight: 700;
    font:16px 'Avenir LT Std 85 Heavy', arial;
	color: #C66382;
	display: inline-block; 
}
.single-recipe .steps-ingredients .directions ul li:nth-child(-n+9):before {
    content: '0'counter(li)'.';
}
.single-recipe .ingredients ul{
	margin-bottom: 30px;
}
.single-recipe .steps-ingredients ul li{
	margin-bottom: 10px;
    font-size: 14px;
}
.single-recipe .ingredients ul li{
	font-size: 12px;
    margin-bottom: 10px;
    display: flex;
    align-items: baseline;
}
.single-recipe .ingredients .amount{
	width: 70px;
	display: inline-block;
    font-weight: 700;
    font-family: 'Avenir LT Std 85 Heavy', arial;
}
.single-recipe .steps-ingredients p{
	margin:0 0 15px 0;
}
.single-recipe .steps-ingredients .ingredients p{
	margin-bottom: 0;
}
.single-recipe .steps-ingredients .directions .wp-block-column .time{
	font-size: 14px;
	font-family: 'Avenir LT Std 85 Heavy', arial;
	font-weight: 700;
	margin-bottom: 0;
}
.single-recipe .steps-ingredients .directions .wp-block-column{
	margin-bottom:0;
}
.single-recipe .steps-ingredients .directions p{
	margin-bottom: 40px;
}
.single-recipe .steps-ingredients .directions h4{
	color:#C66382;
	font: 14px 'Avenir LT Std 85 Heavy', arial;
	font-weight: 700;
	display: inline-block;
	margin-bottom: 5px;
}
.single-recipe .steps-ingredients .directions h4{
	margin-top:0;
}
.single-recipe .ingredients{
	width: 31%;
}
.single-recipe .directions{
	width: 66%;
}
.single-recipe .directions h3{
	margin-bottom: 10px;
}
.single-recipe .site-content{
	padding-bottom: 0;
}
.single .sponsored{
	font-size: 14px;
	opacity: .6;
	margin-top:0;
}

/* Search */

.js .main-wrap::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	opacity: 0;
	background: rgba(0,0,0,0.3);
}

/* Layout for search container */
.big-search {
	padding: 3em;
}

.js .big-search {
	position: absolute;
	z-index: 1000;
	top: 0;
	left: 100%;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	background: #fff;
}

.js .big-search::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
}

.btn--search-close {
	position: fixed;
	z-index: 1001;
    padding: 0;
    width: 30px;
    right: 3em;
    top: 2em;
    min-width: auto;
    background: transparent;
    
    border-radius: 50%;
	-webkit-transition: -webkit-transform .8s ease-in-out;
    	transition:         transform .8s ease-in-out;
}
.btn--search-close:hover{
	background:transparent !important;
}
.btn--search-close:hover{
	-webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.big-search .search-field {
	font-family: inherit;
	font-size: 6vw;
	line-height: 1;
	display: inline-block;
	box-sizing: border-box;
	width: 50%;
	padding: 0.05em 0;
	color: #000;
	border-bottom: 2px solid;
}
.big-search input[type="search"]{
	border: 0;
    border-bottom: 3px solid #C66382;
    border-radius: 0;
}
.btn--hidden {
	pointer-events: none;
	opacity: 0;
}
.big-search .search-submit{
	display: none;
}

.big-search .instructions{
	font-size: .9rem;
    margin-top: 10px;
}

.search-field::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: #969696;
}

.search-field::-moz-placeholder {
	opacity: 1;
	/* Mozilla Firefox 19+ */
	color: #969696;
}

.search-field:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #969696;
}

.search-field::-webkit-search-cancel-button,
.search-field::-webkit-search-decoration {
	-webkit-appearance: none;
}

.search-field::-ms-clear {
	display: none;
}

.search__info {
	font-size: 90%;
	font-weight: bold;
	display: block;
	width: 50%;
	padding: 0.85em 0;
	color: #000;
}

.search__related {
	display: flex;
	width: 100%;
	padding: 4em 0 0 0;
}
.search__suggestion{
	display: flex;
	flex-wrap: wrap;
}
.search__suggestion article{
	width: 33%;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.search__suggestion article h3{
	margin:0;
}
.search__suggestion article h3 a{
	font-size: 15px;
    text-decoration: none;
    line-height: 1.5;
    display: block;
}
.search__suggestion article .copy{
	width: 80%;
	padding:0 20px;
}
.search__suggestion h2 {
	font-size: 1.35em;
	margin: 0;
	width: 100%;
	margin-bottom: 20px;
}

.search__suggestion h2::before {
	content: '\21FE';
	display: inline-block;
	padding: 0 0.5em 0 0;
}

.search__suggestion p {
	font-size: 1.15em;
	line-height: 1.4;
	margin: 0.75em 0 0 0;
	color: #ff4848;
}

/************************/
/* Transitions 			*/
/************************/

.js .main-wrap::after {
	transition: opacity 0.3s;
	transition-timing-function: ease-out;
}

.js .main-wrap--overlay::after {
	opacity: 1;
	transition-delay: 0s;
}

.js .big-search {
	pointer-events: none;
	transition: transform 0.3s;
	transition-delay: 0.4s;
	transition-timing-function: ease-out;
}

.js .search--open {
	pointer-events: auto;
	transform: translate3d(-100%,0,0);
	transition-delay: 0s;
}

.js .big-search::after {
	transition: transform 0.3s;
	transition-timing-function: ease-out;
}

.js .search--open::after {
	transform: translate3d(100%,0,0);
	transition-delay: 0.4s;
}

.js .btn--search-close {
	transition: opacity 0.1s;
	transition-delay: 0.3s;
}
.search h1 span{
	position: relative;
	z-index: 1;
}
.search h1 span:after{
	content:'';
	position: absolute;
	bottom:8px;
	left:0;
	width: 100%;
	height: 5px;
	background:#FFBEC1;
	z-index: -1;
}

/* Modal */
* {
  outline: none !important;
}
.md-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 530px;
  min-width: 320px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.md-modal .copy {
  color: #343336;
  text-align: center;
}
.md-modal .copy h4 {
  font: 20px 'Avenir LT Std 85 Heavy';
  font-weight: 800;
  margin-bottom: 10px;
}
.md-modal .copy h2 {
  font: 30px 'Avenir LT Std 85 Heavy';
  font-weight: 800;
  margin-bottom: 20px;
}
.md-modal input {
    width: 60%;
    border-radius: 3px;
    border: 0;
    padding: 13px;
    text-align: center;
    font: 14px 'Avenir LT Std 45 Book';
    font-weight: 700;
    background: #f7f7f7;
}
.md-modal .clear{
	width: 100%;
}
.md-modal input:first-of-type {
  margin-bottom: 10px;
}
.md-modal input[type="submit"] {
  background: #C66382;
  color: #fff;
  border: 0;
  font-family: 'Avenir LT Std 85 Heavy';
}
.md-show {
  visibility: visible;
}
.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: #FFA3A3 url(../blossom/assets/bg-foods.png) repeat;
  background-size: 23%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
#bio_ep_bg{
	background: #FFA3A3 url(../blossom/assets/bg-foods.png) repeat;
  background-size: 23%;
}
.md-show ~ .md-overlay {
  opacity: 1;
  visibility: visible;
}
/* Content styles */
.md-content {
  color: #fff;
  position: relative;
  border-radius: 3px;
  margin: 0 auto;
  background: #fff;
  padding: 50px;
}
.md-content .md-close {
  position: absolute;
  right: 10px;
  top: 10px;
  background: transparent;
  top: 10px;
  border: 0;
}
.md-content .md-close.no{
	position: relative;
	top:auto;
	right:auto;
	font-size: 14px;
    text-decoration: underline;
}
.md-content .md-close img {
  width: 15px;
}
/* Individual modal styles with animations/transitions */
/* Effect 1: Fade in and scale up */
.md-effect-1 .md-content {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.md-show.md-effect-1 .md-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.error404 .site-content{
	min-height: 600px;
	width: 100%;
	background:#fff url(/wp-content/themes/blossom/assets/bg-404.jpg) no-repeat 100% 100%;
	background-attachment: fixed;
	background-size:80%;
}
.error404 h1{
	text-align: left;
	margin-bottom: 0px;
	width:100%;
	margin-top:20px;
}
.error404 p{
	font-size: 20px;
	margin-top:10px;
	font-family: 'Avenir LT Std 85 Heavy', arial;
}
.error404 .content .container{
	background: transparent;
	padding:0;
}
.error404 article{
	display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 60%;
    margin-bottom: 20px;
}
.error404 article:last-of-type{
	margin-bottom: 40px;
}
.error404 article img{
	display: block;
}
.error404 article .copy{
	width: 85%;
    padding: 20px;
    display: flex;
    align-items: center;
}
.error404 article .copy h3{
	margin:0;
}
.error404 article .copy a{
	text-decoration: none;
	font-size: 16px;
    line-height: 1.5;
    display: block;
}
.contact .entry-content{
	width: 100%;
}
.contact .nf-form-content{
	margin:0;
	padding:0;
	width: 50%;
	margin-top:10px;
}
.nf-field-label{
	font-size: 14px;
	font-family: 'Avenir LT Std 85 Heavy';
}
.contact .ninja-forms-field{
	height: 40px !important;
	border-radius: 3px !important;
	background:#fff !important;
}
.contact textarea.ninja-forms-field{
	height: 200px !important;
}
.nf-error.field-wrap .nf-field-element:after{
	height: 39px !important;
	line-height: 39px !important;
}
.nf-form-content input[type=button]{
	background:#C66382 !important;
	color:#fff !important;
	border:0 !important;
	padding:10px 30px !important;
}
.nf-form-fields-required{
	font-size: 13px !important;
	margin-top:30px;
}
.contact .entry-content p{
	margin-top: 40px;
    border-top: 1px dashed #C66382;
    padding-top: 20px;
}
.contact .inquiries{
	display: flex;
	width: 40%;
	justify-content: space-between;
}
.contact .inquiries h2,
.contact .inquiries h3{
	margin-bottom: 0;
}

/* Hamburger Menu */
.hamburger {
  	position: absolute;
	width: 30px;
    left: 20px;
    top:16px;
    width: 25px;
    height: 25px;
    padding: 0 !important;
    display: none;

  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
    
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #000; }




.hamburger-box {
  width: 25px;
  height: 24px;
  display: inline-block;
  position: relative; }


.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 25px;
    height: 2px;
    background-color: #343336;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease; }
  .hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease; }
  .hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }


/* Ads */
.ad-gpt{
	text-align: center;
	display: block;
	text-align: center;
}
.single iframe,
.bu-social-embed{
	max-width: 400px !important;
	margin:30px auto !important;
	overflow: hidden;
}
.single .videoWrapper iframe{
	max-width: 100% !important;
}
.ad-gpt iframe{
	max-width: 100% !important;
}
@media (max-width: 1440px) {
	.splatter-orange, .splatter-blue{width: 140px;}
	.wink{right:10px;top:50%;}
}
@media (max-width: 1280px) {
	header .top-nav .container,
	header .main-nav{padding:0 20px;}
	.single .content .container{margin:0 20px;}
	.single .more-to-love .container article{width: 32%;}
}
@media (max-width: 1200px) {
	.home .triple-hero, .category .content, .content .container{margin:0 40px;}
	.bg-dotted{padding:40px;}
	.articles{width: 65%;}
	.articles article .featured-image{height: 100%;}
	aside{width: 30%;}
	.triple-hero .small-hero article .label-featured{left: -10px;top: 140px;bottom: auto;}
	.single .container > article{width: 67%;}
	.single-recipe .social-share{flex-wrap: wrap;}
	.single-recipe .social-share h3{margin: 0 auto;margin-bottom: 10px;}
	.single-recipe .social-share .contain{width: 100%;}
	.category .articles img, .category .articles picture, .category .articles a{width: 100%;}

}
@media (max-width: 1090px) {
	.cats ul{overflow-x: scroll;}
	.cats ul li:first-of-type{margin-left:0;}
	.cats ul li a{width: 100px;font-size: 14px;}
	.cats ul li img{min-width: 80px;}
	.contact .inquiries, .contact .nf-form-content{width: 80%;}
}
@media (max-width: 900px) {
	.splatter-orange, .splatter-blue{width: 70px;}
	.happy{width: 40px;left:10px;}
	header{z-index: 4;}
	.single .videoPlayer{width: 100%;margin-bottom: 20px;}
	.site-content{padding-top:0px;margin-top:68px;}
	.hamburger{display: block;background: transparent;border: 0;margin: 0;padding: 0;top:21px;}
	header .top-nav a{padding:15px 0 10px 0;}
	header .newsletter-search{position: absolute;right:10px;top:12px;}
	header .top-nav .container{justify-content: center;padding:0 10px;}
	header .main-nav .socials li a{margin:0 20px;padding: 11px 0;}
	
	header .socials li a img{width: 120%;max-width: none;}
	#primary-menu{display: none;}
	.main-nav{display: none;}
	header .main-navigation.toggled #primary-menu,
	header .main-navigation.toggled .main-nav{display: block;}
	header .socials{display: none;width: 100%;text-align: center;}
	.socials li:last-of-type a{margin-right: 10px;}
	.category .content, .content .container{margin:0;padding:10px;}
	
	.triple-hero article .cat, .triple-hero .small-hero article .cat{margin-top:-30px;}
	article .cat a{margin:0;justify-content: center;flex-wrap: wrap;}
	article .cat h4{width: 100%;text-align: center;margin-top:10px;}
	.home .triple-hero{margin:10px;padding:10px 0;}
	header .main-navigation.toggled #primary-menu{margin-top:20px;}
	.newsletter-search a{display: none;}
	header .main-nav ul li a{color:#343336;border-bottom: 1px dashed #C66382;text-align: center;font-size: 16px;padding:20px 0;}
	.main-navigation #primary-menu .menu-item{display: block;width: 100%}
	.main-navigation #primary-menu .sub-menu{display: none;}
	header .main-navigation.toggled .menu{overflow: scroll;padding-top:0;}
	header .main-nav #primary-menu li:first-of-type a{margin:0;}
	header #primary-menu li a{line-height: 1.4;}


	.home .triple-hero{margin-bottom: 20px;}
	.triple-hero{flex-wrap: wrap;}
	.triple-hero article{width: 100%;max-width: 100%;margin-bottom: 10px;margin-right: 0;padding:10px;}
	.triple-hero .small-hero{width: 100%;margin-left:0;max-width: 100%;}
	.triple-hero .small-hero article .label-featured,
	.triple-hero article .label-featured{position: relative;top:auto;left:auto;}
	.triple-hero .link{display: none;}
	.triple-hero article h2,.triple-hero .small-hero article h2{font-size: 24px;margin:0 0 10px 0;}
	.triple-hero article .copy{text-align: center;}
	.articles, aside{width: 100%;max-width: 100%;justify-content: space-between;}
	.articles article{flex-wrap: wrap;height: auto;border-bottom: 1px dashed #C66382;padding-bottom: 30px;margin-bottom: 10px;width: 49%;align-items: baseline;}
	.articles article > a, .articles article > a img{width: 100%;display: block;}
	article .cat img{margin-right: 0;}
	.articles article h2{font-size: 20px;}
	.articles article p{margin-top:10px;}
	.articles article .featured-image{width: 100%;height: auto;}
	.articles article .featured-image img{width: 100%;}
	.articles article .copy{width: 100%;max-width: 100%;margin-top:-30px;padding:0 30px;}
	.scissors{width: 90px;top:20%;}
	.bg-zigzag{padding:10px}
	aside{margin-top:30px;}
	aside .popular-posts{display: flex;flex-wrap: wrap;justify-content: space-between;}
	aside .popular-posts h2{text-align: center;width: 100%;}
	aside .popular-posts article{width: 48%;}
	.single .container > article{width: 100%;margin-top:30px;}
	.single .more-to-love .container{padding:10px;}
	.single .more-to-love .container article{width: 48%;}
	.single .more-to-love .container article .featured-image{width: 100%}
	aside .popular-posts article:last-of-type{display: none;}
	.view-more{display: none;}
	.view-more.mobile{display: block;}
	.tall-ad, .small-ad{margin: 0 auto;display: inherit;text-align: center;border-top: 1px dashed #C66382;border-bottom: 1px dashed #C66382;padding: 10px 0;}
	header .main-navigation.toggled .menu{display: block;position: absolute;height: 90vh;top: 48px;background: #fff;width: 100%;left: 0;box-shadow: 0px 2px 4px rgba(0,0,0,.6);padding: 10px 0px;}
	.hide-for-web{display: block;}
	.single-recipe .ingredients{width: 100%;}
	 .single-recipe .directions{width:100%;}
	 .js .big-search{position: fixed;}
	 .post-type-archive-videos .articles{align-items: center;}
	 .search__suggestion article{width: 49%;}
	 .error404 article{width: 100%;}
	 .error404 .site-content{   background: #fff url(/wp-content/themes/blossom/assets/bg-404.jpg) no-repeat 30% 1%;background-attachment: scroll;background-size: 20%;}
 	.splatter-orange, .splatter-blue, .happy, .wink, .scissors{display: none;}
 	.single .social-share{margin:30px 35px 30px 15px;}
 	.single .container > article{padding:0 20px;display: block;}
 	.single article img{width: 100%;}
 	.category .articles article .copy{margin-top:20px;}


}
@media (max-width: 600px) {
	.content .container{margin:0 10px;padding:20px;}
	.ad{max-width: 320px;height: 50px;overflow: hidden;margin-left: auto;margin-right: auto;}
	.home .triple-hero{margin: 20px 10px;}
	.triple-hero article h2, .triple-hero .small-hero article h2{font-size: 20px;}
	.ad img{width: 320px;}
	.bg-dotted{padding:10px;}
	.content .container{margin:0 10px 10px 10px;padding:10px;}
	aside .popular-posts article{width: 100%;}
	 footer .container .links {display: flex;flex-wrap: wrap;}
	 aside article .copy{width: 100%;}
	 .articles article{margin-bottom: 10px;width: 100%;}
	 .articles article p{display: none;}
	 .cats{margin-bottom: 20px;}
	 .cats ul li{margin:0 5px;}
	 .cats ul li a{width: 73px;text-align: center;font-size: 11px;}
	 .cats ul li img{width: 60px;min-width: 60px;}
	 header .main-nav ul li ul li a img{display: none;}
	 .single-recipe .recipe-video{width: 100%;}
	 .single-recipe .main-recipe article .copy{width: 100%;padding:20px;border-radius: 5px;}
	 .single-recipe .in-this-video article{width: 48%}
	 .single-recipe .more-to-love article picture{height: auto;display: block;}
	 .single .more-to-love .container article{width: 100%;margin-bottom: 10px;padding:0;}
	 .single .more-to-love .container article:last-of-type{margin-bottom: 0;}
	 .single .more-to-love .container > article picture{margin-top:0;}
	 .single .more-to-love h2{margin:20px 0;}
	 .archive h1, .single-recipe h1, .search h1, .error404 h1{font-size: 24px;padding-bottom: 10px;text-align: center;}
	 .search h1 span:after{bottom: 4px;}
	 .single .sponsored{margin-top: 10px;}
	 h1, .single h1{font-size: 24px;}
	 h2, .single .entry-content h2, .single .entry-content h3{font-size: 22px;}
	 .single-recipe .copy ul li{padding:20px 0 10px 0;}
	 .single-recipe .copy ul{margin-bottom: 30px;}
	 .category .headline{flex-wrap: wrap;}
	 .category .headline img{width: 30px;}
	 .category .headline a{margin-top:0;font-size: 14px;margin-bottom: 10px;text-align: center;width: 100%;justify-content: center;}
	 .category .headline a:first-of-type{margin-bottom: 0;}
	 .category .triple-hero article .copy{margin-top:10px;}
	 .category .triple-hero:last-of-type{margin-bottom: 0;padding-bottom: 0;}
	 .articles article h2{text-align: center;}
	 .single .social-share{position: fixed;bottom: 0;width: 100%;padding: 0;float: none;left: 0;margin: 0;display: flex;justify-content: space-between;background: #fff;align-items: center;flex-wrap: wrap;top: auto;padding: 10px 20px;border-top: 1px dashed #C66382;z-index: 2;}
	 .single .social-share a{margin-bottom: 0;}
	 .single .social-share a img{display: block;}
	 .single .entry-content{width: 100%;margin-top:0px;}
	 .single .container > article picture{margin-top:10px;}
	 .single .entry-content p{margin-top:10px;font-size: 16px;}
	 .single .more-to-love{margin-top:10px;}
	 .single .newsletter-signup{background: #EFF2F8 url(/wp-content/themes/blossom/assets/newsletter-bg-love.jpg) no-repeat 50% 100%;background-size: 100%;padding: 60px 10px;width: 100%;margin-bottom: 0px; margin-top:20px;}
	 .single .newsletter-signup .copy{width: 100%;}
	 .single .newsletter-signup form{width: 100%;}
	 #mc_embed_signup_scroll{flex-wrap: wrap;}
	 .single .newsletter-signup form input[type="email"]{width: 100%;}
	 .single .newsletter-signup form input[type="submit"]{width: auto;display: block;padding: 13px 30px;margin: 10px auto 0 auto;}
	 .single .more-to-love article picture{height: auto;}
	 .site-content{padding-bottom: 0;}
	 .videoWrapper{padding-top:0;margin-top:0px;margin-bottom: 60px;}
	 footer{z-index: 3;position: relative;}
	 .articles.recipes article,
	 .search .articles article{width: 49%;}
	 .articles.recipes article picture{height: auto;}
	 .articles article .copy{padding:0px;}
	 .post-type-archive-videos .articles article{width: 100%;}
	 .search__suggestion article{width: 100%;}
	 .articles article a{width: 100%;}
	 .big-search{padding:20px;}
	 .big-search input[type="search"]{width: 100%;}
	 .btn--search-close{width:	16px;right:20px;top:20px;}
	 .big-search .instructions{display: none;}
	 .search__related{padding-top:2em;}
	 .articles.recipes article picture, .search .articles article picture{overflow: hidden;}
	 .articles.recipes article h2, .search .articles article h2{font-size: 16px;}
	 .search__suggestion h2{font-size: 14px;}
	 .search aside form, aside .search-bar{display: none;}
	 aside .popular-posts article:last-of-type{display: flex;}
	 .md-content{padding:30px;}
	 .md-modal input{width: 100%;}
	 .md-overlay{background-size: 75%;}
	 .md-modal .copy h4{font-size: 15px;}
	 .home .content .container{margin:0 0 10px 0;}
	 .single .content .container{margin:0 10px;}
	 .single .content.more-to-love .container{margin:0;}
	 .single-recipe .steps-ingredients{padding:0 10px;}
	 .single-recipe .social-share h3{margin:0;margin-bottom: 0;}
	 aside .popular-posts{margin-bottom: 0;}
	 .error404 article{margin-bottom: 10px;flex-wrap: wrap}
	 .error404 .site-content{background:#fff url(/wp-content/themes/blossom/assets/bg-404.jpg) no-repeat 90% .5%;background-size: 24%;}
	 .error404 p{font-size: 16px;text-align: center;}
	 .error404 article .copy a{text-align: center;}
	 .error404 article .copy{width: 100%;}
	 .error404 article a{width: 100%;}
	 .error404 article a img{width: 100%;}
	 .contact .inquiries, .contact .nf-form-content{width: 100%;}
	 .contact .inquiries{flex-wrap: wrap;}
	 .contact h2{font-size: 18px;}
	 .contact h3{font-size: 16px;}
	 .archive h1, .single-recipe h1, .page h1, .search h1, .error404 h1{padding:10px 0;}
	 
	
	 footer .container .links .menu-footer-container #menu-footer, footer .container .links .menu-main-menu-navigation-container #menu-footer, footer .container .links .menu-footer-container #menu-main-menu-navigation-1, footer .container .links .menu-main-menu-navigation-container #menu-main-menu-navigation-1 {
		 flex-wrap: wrap;
	}
	 footer .container .links .menu-footer-container .menu-item-has-children, footer .container .links .menu-main-menu-navigation-container .menu-item-has-children, footer .container .links .menu-footer-container .shop_link, footer .container .links .menu-main-menu-navigation-container .shop_link {
		 width: 50%;
		 margin-bottom: 20px;
		 text-align: center;
	}
	 footer .container .links .socials {
		 width: 100%;
		 text-align: center;
	}
	footer .container .links .socials .logo-footer{
		display: inline;
	}
	 footer .container .links .socials ul {
		 max-width: 300px;
		 margin: 0 auto 20px auto;
	}
	 footer .container .links .menu-footer-container, footer .container .links .menu-main-menu-navigation-container {
		 width: 100%;
		 margin-left: 0;
		 margin-top: 0px;
	}
	 footer .copyright {
		 flex-wrap: wrap;
		 text-align: center;
	}
	 footer .copyright .menu-footer-copyright-container {
		 width: 100%;
		 text-align: center;
		 margin-bottom: 10px;
	}
	 footer .copyright p {
		 text-align: center;
		 width: 100%;
	}
	aside .popular-posts{margin:0;}
}

 