@import "shortcodes_social_embeds";

.image-with-captions {
	text-align: center;
	margin-top:15px;
	color: $caption_gray;
	
	.image-with-captions__captions p {
		font-size: 0.75rem;
	}

	img {
		height: auto;
		width: auto;
		max-width: 100%;
	}

	
}

figcaption{
	font-size: 0.75rem;
	text-align: center;
	color: $caption_gray;
}
